<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <packageSourceMapping>
	<packageSource key="nuget.org">
	  <!-- Permitir pacotes Microsoft e de terceiros a partir do nuget.org -->
	  <package pattern="Microsoft.*" />
	  <package pattern="Swashbuckle.*" />
	  <package pattern="MassTransit.*" />
	  <package pattern="MediatR.*" />
	  <package pattern="coverlet.*" />
	  <package pattern="xunit.*" />
	  <package pattern="*" />
	</packageSource>
  </packageSourceMapping>
</configuration>
